<a href="https://colab.research.google.com/github/favouroo/Python-Basics-Data-Science/blob/Python-for-Data-Science/Week%203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Week 3**
This week, dive into the world of **Conditional Statements**, **For and While Loops**, **Enumerate function**, **Range Function** and **List Comprehension**.

Like I said earlier, YouTube is your ffriend. To better understand these concepts, watch some videos.

###**Conditional statements**
To write a python code to check whether a person can vote or not.

In [36]:
age = 16
if age>=18:
  print("Yes, you are eligible to vote.")
  print("Congratulations")
else:
  print("Sorry, you are not eligible to vote.")

Sorry, you are not eligible to vote.

To test whether a number is 0, negative, or positive

In [37]:
num = 7
if num == 0:
  print("The number is zero.")
elif num<0:
  print("The number is negative.")
elif num>0:
  print("The number is positive.")

The number is positive.

To test whether a number is odd or even.

In [38]:
numba = 2
if numba%2 == 0:
  print(f"The number {numba} is even.")
elif numba%2:
  print(f"The number{numba} is odd.")

The number 2 is even.

To use conditons with string and lists. Use in operator.

In [39]:
greeting= "Hello, JESUS of Nazareth"
if "Hi" in greeting:
  print("The user said Hi.")
else:
  print("The user did not say Hi.")

The user did not say Hi.

In [40]:
car = ["Audi", "Hilux", "Toyota", "BMW", "Tesla"]
if "Toyota" in car:
  print("She has a Toyota.")
else:
  print("She does not have a Toyota.")

cars = ["Audi", "Hilux", "BMW", "Tesla"]
if "Toyota" in cars:
  print("She has a Toyota.")
else:
  print("She does not have a Toyota.")

She has a Toyota.
She does not have a Toyota.

### **Nested IFS**

In [41]:
len(car)
if len(car)>0: #checks if she has at least 1 car
  if "Audi" in car: #checks if she has Audi:
    print("She has an Audi.")
  else:
    print("She doesn't have an Audi.")
else:
  print("She doesn't have a car.")

She has an Audi.

##**Loops**
There are two types. **For** and **While** loops.
This is used when you want to perform an operation repeatedly

### **For loops** â€” They are used with iterables (strings, lists, tuples, sets and dictionaries). Iterables are structures we can loop over.

In [42]:
pleasantry = "Hello"
print(pleasantry)

Hello

In [43]:
for letter in pleasantry: #letter is a place holder
  print(f"The letters {letter} is present in pleasantry.")

The letters H is present in pleasantry.
The letters e is present in pleasantry.
The letters l is present in pleasantry.
The letters l is present in pleasantry.
The letters o is present in pleasantry.

In [44]:
#using for loop with lists
students_name = ["Love", "Joy", "Peace", "Faithfulness"]
for name in students_name:
  print(f"Hi, {name}.")
  print("Welcome to school.")
  print()
print() #independent of the loop
print("You all are welcome.")

Hi, Love.
Welcome to school.

Hi, Joy.
Welcome to school.

Hi, Peace.
Welcome to school.

Hi, Faithfulness.
Welcome to school.


You all are welcome.

### **Enumerate function**
It is a generator function. We need to pass the list function.
It acts as a counter, counts the index and we can pass to the for loop.

In [45]:
indexed_list= list(enumerate (students_name))
print(indexed_list) #each elements has two elements, then we will have two placeholders
print()

for index, name in indexed_list:
  position = index + 1
  print(f"The indexed list has  index number {position} and the student is {name}.")
print()

favourite_fruit = {"Love":"Mango","Joy":"Pineapple", "Peace":"Avocado", "Faithfulness":"Banana"}
print("The names in the dicitonary are:")
for key in favourite_fruit.keys():
  print(key)
print()
print("The favourite fruits in the dicitonary are:")
for values in favourite_fruit.values():
  print(values)
print()
for key, value in favourite_fruit.items():
  print(f"{key}'s favourite fruit is {value}.")

[(0, 'Love'), (1, 'Joy'), (2, 'Peace'), (3, 'Faithfulness')]

The indexed list has  index number 1 and the student is Love.
The indexed list has  index number 2 and the student is Joy.
The indexed list has  index number 3 and the student is Peace.
The indexed list has  index number 4 and the student is Faithfulness.

The names in the dicitonary are:
Love
Joy
Peace
Faithfulness

The favourite fruits in the dicitonary are:
Mango
Pineapple
Avocado
Banana

Love's favourite fruit is Mango.
Joy's favourite fruit is Pineapple.
Peace's favourite fruit is Avocado.
Faithfulness's favourite fruit is Banana.

### **Range function**

In [46]:
#to create a list of numbers from 1 to 10
print(list(range (1,11)))
print(list(range(10,21,2)))
for number in range(1,11):
  print (number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 12, 14, 16, 18, 20]
1
2
3
4
5
6
7
8
9
10

In [47]:
#to create a list of even numbers from 0 to 20
even_numbers = []
for numb in range(0,21):
  if numb%2 == 0:
    even_numbers.append(numb)
print(even_numbers)
print(f"The sum of even numbers between 0 to 20 is {sum(even_numbers)}")
print()

odd_numbers = []
for numb in range(0,21):
  if numb%2 == 1:
    odd_numbers.append(numb)
print(odd_numbers)
print(f"The sum of even numbers between 0 to 20 is {sum(odd_numbers)}")

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
The sum of even numbers between 0 to 20 is 110

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
The sum of even numbers between 0 to 20 is 100

In [48]:
#to create a list of squares from 1 to 10
squares = []
for val in range(1,11):
  square = val**2
  squares.append(square)
print(f"The squares of each value in the range 1 to 10 are {squares}.")

The squares of each value in the range 1 to 10 are [1, 4, 9, 16, 25, 36, 49, 64, 81, 100].

### **List Comprehension**

In [49]:
squares_comp = [num**2 for num in range(1,11)]
print(squares_comp)
even_numb_comp = [eve for eve in range(1,21) if eve % 2 ==0]
print(even_numb_comp)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### **While Loop**
Makes use of conditions. Doesn't work with iterables.
Be careful so you don't run into an infinite loop.

To write a code from 1 to 5

In [50]:
counter = 1
while counter<=5:
  print(counter)
  counter +=1

1
2
3
4
5

To write a code from 5 to 1

In [51]:
counters = 5 #start value
while counters >=1:
  print (counters)
  counters -=1

5
4
3
2
1

**Break**

Used to exit the loop completely even if the condition is still true.

To count from 1 to 10  but stop at 7

In [52]:
counting = 1 #starting value
while counting <=10: #normally, I want to count from 1 to 10,
  if counting == 7: #but when count gets to 7,
    break #break it and dont include the value
  print(counting) #print the values out
  counting +=1 #the condition is to keep adding 1

1
2
3
4
5
6

Using break with for loop

In [53]:
student_inform = ["Love", "Joy", "Peace", "Faithfulness"]
for name in student_inform[1:4]:
  print (name)
print()
for name in student_inform:
  if name =="Peace":
    print(f"I have found the name {name}. I'll stop the loop right away.")
    break
  print(f"The name {name} is in the list but we haven't found Peace yet.")
print("Loop has ended.")

Joy
Peace
Faithfulness

The name Love is in the list but we haven't found Peace yet.
The name Joy is in the list but we haven't found Peace yet.
I have found the name Peace. I'll stop the loop right away.
Loop has ended.

**Continue**

Continue is used to stop eh current iteration before movingn to the next one.

To count from number 1 to 10 and skip number 7.

In [54]:
count = 0
while count<10:
  count +=1
  if count ==5:
    continue
  print(count)

1
2
3
4
6
7
8
9
10