#Week 2, Class 1

### Sort Method

In [36]:
#Sorting items in a list

unordered_list = [20, -1, 30, 70, 199, 83]
print (unordered_list)

unordered_list.sort() #Ascending order
print (unordered_list)

unordered_list.sort(reverse = True) #Descending order
print (unordered_list)

print(unordered_list[:3]) #Top 3 numbers
print(unordered_list[-3:]) #Least 3 numbers

#Limitation: Sort method only works when you want to alter the original list. If you store in a new variable, you'll get none.

[20, -1, 30, 70, 199, 83]
[-1, 20, 30, 70, 83, 199]
[199, 83, 70, 30, 20, -1]
[199, 83, 70]
[30, 20, -1]

In [37]:
#Limitation: Sort method only works when you want to alter the original list. If you store in a new variable, you'll get none.
#using the SORTED function

new_unordered_list = [20, -1, 30, 70, 199, 83]
ordered_list = sorted(unordered_list) #solves the limitation of the sort method
print (ordered_list)

descending_order = sorted(new_unordered_list, reverse = True)
print (descending_order)

[-1, 20, 30, 70, 83, 199]
[199, 83, 70, 30, 20, -1]

###Reversing a list

In [38]:
#Call the reverse method
some_unordered_list = [20, -1, 30, 70, 199, 83]
print(some_unordered_list)
some_unordered_list.reverse() #doesnt sort, just reverses position

[20, -1, 30, 70, 199, 83]

###Copying a list

In [39]:
number_list = [10, 20, 30, 40, 50, 60, -1, 0, 1000]
print(number_list)

copied_num_list = number_list.copy()
copied_num_list[-2] = 18 #access element first by indexing
print(copied_num_list)

[10, 20, 30, 40, 50, 60, -1, 0, 1000]
[10, 20, 30, 40, 50, 60, -1, 18, 1000]

In [40]:
#to get the index of a particular element in a list, use the index method
print(number_list.index(0))
print(number_list.index(30))
print(number_list.index(60))
sum(number_list)
print(min(number_list))
print(max(number_list))

7
2
5
-1
1000

##Tuples
Use tuples when you just want to store variables you dont want to change. A TUPLE can also contain different data types. You can either use parenthesis or not, as long as you separate the item wwith a comma.

In [41]:
number_tuple = (10, 30, 55, 66,26, 5, 34, 23, 77)
print(number_tuple)
print(type(number_tuple))
print()
numberr_tuple = 11, 82, 32, 24, 56, 74, 38, 32, 22, 9, -6
print(numberr_tuple)
type(numberr_tuple)

(10, 30, 55, 66, 26, 5, 34, 23, 77)
<class 'tuple'>

(11, 82, 32, 24, 56, 74, 38, 32, 22, 9, -6)

tuple

In [42]:
print(len(number_tuple))
print(len(numberr_tuple))
print()
print(number_tuple[0])
print(numberr_tuple[0])
print(number_tuple[5])
print(numberr_tuple[5])
print()
print(number_tuple[-3:])
print(numberr_tuple[-3:])
print(number_tuple[0:4])
print(numberr_tuple[0:4])

9
11

10
11
5
74

(34, 23, 77)
(22, 9, -6)
(10, 30, 55, 66)
(11, 82, 32, 24)

In [43]:
#Tuple has only two methods; count and index
#Counts checks the occurence of a avalue
print(number_tuple.count(50))
print(number_tuple.count(66))
print()

print(numberr_tuple.count(50))
print(numberr_tuple.count(32))
print()
print(number_tuple.index(10))
print(number_tuple.index(66))
print(numberr_tuple.index(32))
print(numberr_tuple.index(38))

0
1

0
2

0
3
2
6

In [44]:
#Change Tuple to list by calling list function
number_toople = (10, 30, 55, 66,26, 5, 34, 23, 77)
print(list(number_toople))
print()
num_listss = [10, 20, 30, 40, 50, 60, -1, 0, 1000]
print(tuple(num_listss))

[10, 30, 55, 66, 26, 5, 34, 23, 77]

(10, 20, 30, 40, 50, 60, -1, 0, 1000)

#Week 2, Class 2

###Revision

In [45]:
book = "help me"
print(book.find(" "))
print(book[5])
print(book.count("e"))
print(book.count("m"))

bookie = [240, 413, 113, 23, 148]
bookie.insert(1, 189)
print(bookie)

4
m
2
1
[240, 189, 413, 113, 23, 148]

###**Dictionaries**
This is the foundation for dataframes. They come in form of key-value pairs. Dicitonaries are unordered.
Keys are unique identifiers for a particular element.
Dictionaries are wrrapped in currly brackets.

In [46]:
student_info = {"name":"Favour Okolie", "age":20, "course":"Engineering for Environmental Sustainability and International Cooperation (EESIC, MEng)"}
print(student_info)
print(type(student_info))
print()

#accessing elements in a dictionary
print(student_info["course"])
print(student_info.keys()) #to get the keys
print(student_info.values()) #to get the values
print(student_info.items()) #to get key-value pairs

print()
student_info["age"] = 25 #dictionaries are mutable. To change a value, do this
print(student_info)

{'name': 'Favour Okolie', 'age': 20, 'course': 'Engineering for Environmental Sustainability and International Cooperation (EESIC, MEng)'}
<class 'dict'>

Engineering for Environmental Sustainability and International Cooperation (EESIC, MEng)
dict_keys(['name', 'age', 'course'])
dict_values(['Favour Okolie', 20, 'Engineering for Environmental Sustainability and International Cooperation (EESIC, MEng)'])
dict_items([('name', 'Favour Okolie'), ('age', 20), ('course', 'Engineering for Environmental Sustainability and International Cooperation (EESIC, MEng)')])

{'name': 'Favour Okolie', 'age': 25, 'course': 'Engineering for Environmental Sustainability and International Cooperation (EESIC, MEng)'}

In [47]:
student_info2 = {"name":"Favour Okolie", "age":20, "course":["EESIC, MEng", "Food Security", "Sustainable Food Systems"]}
print(student_info2)

{'name': 'Favour Okolie', 'age': 20, 'course': ['EESIC, MEng', 'Food Security', 'Sustainable Food Systems']}